.idea/
.DS_Store
dataset_32x32
__pycache__
dataset_32x32*
src/
*.zip
*.gz
*.mat
logs/*
__pycache__/
cache/
*pkl
*.gz
data*/
*pt
*mat
dataset_32x32
models
logs
src*
*.png
plots/
*cache*

*.pth

.vscode/*

*.csv

*.data
plots_old/


*.tex
figures_main/
.mplconfig/
*.txt